* { margin:0; padding:0; }

html, body {
    width:100%;
    height:100%;
    color: #11ee11;
}



button {
background-color: transparent; /* Green */
border: 2px solid #1e1;
border-radius: 8px;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 12px;

/* Hover properties */
-webkit-transition-duration: 0.4s; /* Safari */
transition-duration: 0.4s;
}

button:disabled {
opacity: 0.6;
background-color: #600;
cursor: not-allowed;
}

button:enabled:hover {
background-color: #1e1; /* Green */
color: white;
}

#container {
display: flex;  /* use the flex model */
min-height: 100%;
flex-direction: column;
}

#info-header {
    padding: 5px 5px 5px 5px;
    background: #111;
    height: auto;
    border-bottom: 2px solid darkred;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    padding: 2px 5px 2px 5px;
    margin: 0px 4px 0px 4px;
    border: 2px solid limegreen;

}

input {
    background-color: transparent;
    font-size: 24pt;
    border: 0px solid;
    height: 24pt;
    width: 160px;
    color: #11ee11;
}

#board-container {
flex: 1;
}
#board {
background: #000;
}
